::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: indigo;
  }
  #filtering_and_stuffs{
    position: fixed;
    background-color: black;
    color: white;
    right: 0;
    left: 0;
    height: 30;
  }
  #filtering_and_stuff_div{
    margin-top: 5;
    text-align: center;
  }
.select{

  margin-left: 10px;
  border-style: none;
  border:2px solid  white;
  color:white;
  background-color: black;
  border-radius: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header-canvas{
    margin-top: -15px;
  }
  body{
      margin-top: 150px;
  }
  #filtering_and_stuffs{
    position: fixed;
    top:50;
    background-color: red;
    color: white;
    right: 0;
    left: 0;

  }
  header{
    position: fixed;
    background-color: black;
    left:0;
    right: 0;
    top:0;
    height: 50;
  }
  a{
    color: white;
    background-color: black;
    text-decoration: none;
  }
  a:hover{
    color: pink;
    transition: 1s;
    text-decoration-color: red;
    text-decoration-line:overline;
  }
  nav{
    float:right;
    margin-right: 20;
    font-family: Arial, Helvetica, sans-serif;
  }
  ul{
    text-decoration: none;
  }
  li{
    display: inline;
    padding: 55px;
  }
/* Change Occurs Here */
@media screen and (max-width: 945px){
    nav{
      float:right;
      margin-right: 100px;
      font-family: Arial, Helvetica, sans-serif;
      
    }
    ul{
      text-decoration: none;
    }
    li{
      display: inline;
      padding: 16px;
    }
    }
   
/* Change Occurs Here */
@media screen and (max-width: 725px){
    a{
        background-color: white;
        color:black;
    }
    nav{
        float:none;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: -35;
        text-align: center;
        background-color: white;
      
    }
    ul{
      text-decoration: none;
    }
    li{
      display: inline;
      padding: 30px;
    }
    #filtering_and_stuffs{
        position: fixed;
        top:100;
        background-color: red;
        color: white;
        right: 0;
        left: 0;
    
      }
    }
  
    /*Change Occurs Here*/
    @media screen and (max-width: 625px) {
        nav{
          float:none;
          background-color: black;
          margin-top: -51;
          width: 100%;
          text-align: center;
        }
        a{
          color:white;
          background-color: black;
         
        }
        #header-canvas{
      margin-top: -15px;
      margin-left: -45px;
    }
    header{
      position: fixed;
      background-color: black;
      left:0;
      right: 0;
      top:0;
    }
    ul{
      text-decoration: none;
    }
    li{
      display: inline;
      padding: 50px;
    }
    #abt{
    display:none;
    }
    }

    /*CHange occurs here*/
    @media screen and (max-width:455px){
        #canv{
            text-align: center;
        }
        nav{
            float:none;
            background-color: black;
            margin-top: -51;
            width: 100%;
            text-align: center;
          }
          a{
            color:white;
            background-color: black;
           
          }
          #header-canvas{
        margin-top: -15px;
        margin-left: -45px;
      }
      header{
        position: fixed;
        background-color: black;
        left:0;
        right: 0;
        top:0;
      }
      ul{
        text-decoration: none;
      }
      li{
        display: inline;
        padding: 30px;
      }
      #abt{
      display:none;
      }
      #filtering_and_stuffs{
        position: fixed;
        top:69;
        background-color: red;
        color: white;
        right: 0;
        left: 0;
    
      }
    }